.container {
    width: 300px;
    background-color: blueviolet;
}

@media screen and (min-width: 601px){
    .container {
        background-color: blue;
    }
    #paragraph{
        color: red;
    }
}

/* ******************************** ORIENTATION FA CAMBIARE LAYOUT QUANDO SI GIRA LO SCHERMO ******************************** */

@media screen and (orientation: landscape) and (min-width: 601px) {
    .container {
        background-color: yellow;
    }
    #paragraph{
        color: green;
    }
}


@media screen and (min-width: 1201px){
    .container {
        background-color: green;
    }
    #paragraph{
        color: blue;
    }
}

/* ******************************** CON PRINT DECIDO CHE LAYOUT AVERE QUANDO SI STAMPA LA PAGINA ******************************** */

@media print { 
    .container {
        width: 100%;
    }
 }

 



