.squareBtn {
    border-radius: 0;
    background-color: black;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(118, 118, 118);
}

.navbar-nav .nav-item .nav-link:hover {
    color: white;
}

.carousel-control-prev {
    background: rgb(33, 37, 41);
    background: linear-gradient(90deg, rgba(33, 37, 41, 1) 0%, rgba(33, 37, 41, 0) 100%);
    opacity: 1;
}

.carousel-control-next {
    background: rgb(33, 37, 41);
    background: linear-gradient(270deg, rgba(33, 37, 41, 1) 0%, rgba(33, 37, 41, 0) 100%);
    opacity: 1;
}

.dropdown-menu .dropdown-item:hover {
    background-color: #181b1e;
}

.listFilm img{
    cursor: pointer;
}
.listFilm img:hover {
    transform: scale(1.05);
}

/* pofile page */

header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(33, 37, 41, 1) 100%);
}

/* pofile page */