
.squareBtn {
    border-radius: 0;
    background-color: black;
}

.btnLight{
    background-color: white;
}
.btnLight:hover{
    background-color: white;
}
.btnLight{
    background-color: white;
}
.fakeDisable {
    background-color: transparent;
}

.dropdown-menu .dropdown-item:hover{
    background-color: #181b1e;
}

.listFilm img:hover {
    transform: scale(1.05);
}

/* pofile page */

header{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(33,37,41,1) 100%);
}

/* pofile page */